body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
    padding: 0;
    margin: 0;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-flex {
    display: flex;
}

/*.container-width-auto {*/
/*    width: auto;*/
/*}*/

.header-logo {
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54em;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    margin-right: 76px;
}

.header-logo1 {
    color: #2E2F42;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54em;
    text-transform: uppercase;
    margin-top: 30px;
    font-family: "Raleway", sans-serif;
}

.span-studio {
    color: #2e2f42;
}

.header-list {
    color: #404bbf;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style: none;
    gap: 40px;
    display: flex;
}

.header-item {
    position: relative;
    margin-left: 0;
    margin-right: 20px;
    display: inline-block;
    height: 30px;
    color: #434455;
}

.address-item {
    position: relative;
    /*margin-left: 0;*/
    /*margin-right: 20px;*/
    /*!*padding-left: 0;*!*/
    /*display: inline-block;*/
    /*height: 30px;*/
    color: #434455;
}

.address-item a:visited {
    color: #404bbf;
}

.address-item a:hover {
    color: #404bbf;
}

.header-link {
    color: #2e2f42;
    padding: 24px 0;
}

.header-link:hover {
    color: #404bbf;
}

.header-link:focus {
    color: #404bbf;
}

.header-link:visited {
    color: #404bbf;
}

.header-navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
}

address {
    float: right;
    font-style: normal;
}

.section-header {
    color: #ffffff;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    /*line-height: 60px;*/
    background: #2e2f42;
    flex-shrink: 0;
    line-height: 1.07;
    letter-spacing: 0.02em;
    padding-top: 188px;
    padding-bottom: 188px;
}

.button-section {
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    color: #FFF;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    margin: 0 auto;
}

.button-section:focus, .button-section:hover {
    background-color: #404BBF;
}

.section-two {
    padding-top: 120px;
    padding-bottom: 120px;
}

.hidden {
    display: none;
    visibility: hidden;
}

.values-list {
    display: flex;
    /*padding-left: 150px;*/
    /*padding-right: 150px;*/
    list-style: none;
    /*color: #434455;*/
    /*font-family: Roboto, sans-serif;*/
    /*font-size: 16px;*/
    /*font-style: normal;*/
    /*font-weight: 400;*/
    /*line-height: 24px;*/
    /*letter-spacing: 0.32px;*/
    gap: 24px;
    /*margin: 0;*/
}

.list-one {
    width: calc((100% - 72px) / 4);
    /*flex-basis: calc((100% - 72px) / 4);*/
}

.team-list {
    /*font-size: 20px;*/
    display: flex;
    /*padding-left: 150px;*/
    /*padding-right: 150px;*/
    list-style: none;
    /*color: #434455;*/
    /*font-family: Roboto, sans-serif;*/
    /*font-style: normal;*/
    /*font-weight: 400;*/
    /*letter-spacing: 0.32px;*/
    gap: 24px;
    margin: 0;
    /*line-height: 1.2;*/
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.values-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.values-paragraph {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.values-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.h3-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.values-item h3, .values-item p {
    text-align: center;
    font-size: 16px;
}

.team-header {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 0.02em;
    font-size: 36px;
    margin-bottom: 72px;
}

.portfolio-header {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    /*line-height: 40px;*/
    letter-spacing: 0.72px;
    text-transform: capitalize;
    line-height: 1.11;
    margin-bottom: 72px;
}

.team-workers{
    display: inline-flex;
    padding-bottom: 32px;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.footer {
    color: #ffffff;
    font-family: Roboto, sans-serif;
    letter-spacing: 1.12px;
    background: #2e2f42;
    line-height: 1.17;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-link {
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    line-height: 1.17;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-link1 {
    color: #F4F4FD;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-top: 30px;
    line-height: 1.17;
}

.footer-p {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer {
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
}
.footer p {
    width: 264px;
    color: #F4F4FD;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.team-section {
    background: #F4F4FD;
    padding: 120px 0;
}

.div-s-three {
    padding: 32px 0;
}

.section-four {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    /*padding-left: 150px;*/
    /*padding-right: 150px;*/
    list-style: none;
    /*color: #434455;*/
    /*font-family: Roboto, sans-serif;*/
    /*font-size: 16px;*/
    /*font-style: normal;*/
    /*font-weight: 400;*/
    /*line-height: 24px;*/
    /*letter-spacing: 0.32px;*/
    gap: 24px;
    margin: 0;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    /*width: calc((100% - 48px) / 3);*/
    flex-basis: calc((100% - 48px) / 3);
}

.container-li {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-title {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.portfolio-paragraph {
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.span-studio-footer {
    color: #f4f4fd;
    /*display: inline-block;*/
}

.mailto {
    color: #434455;
}

.mailto:focus {
    color: #404bbf;
}

.mailto:visited {
    color: #404bbf;
}

.section_title {
    font-size: 56px;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto 48px;
}

.tel {
    color: #434455;
}

.team-item {
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 0 0 4px 4px;
    /*width: calc((100% - 72px) / 4);*/
    flex-basis: calc((100% - 72px) / 4);
}


img {
    display: block;
}