body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
    padding: 0;
    margin: 0;
}

a {text-decoration: none;}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}


.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 1px 6px rgba(46, 47, 66, 0.08);
}

    .container {
        max-width: 320px;
        margin: 0 auto;
        padding: 0 16px;
}

    /* @media screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }

    .header-list {
        display: flex;
        gap: 40px;
    }

    .address {
        display: block;
    }

    .open-menu-btn {
        display: none;
    }

    .header-logo {
        margin-right: 120px;
    }
}

    @media screen and (min-width:1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

    .open-menu-btn {
        display: none;
    }
} */

    /* .container-footer {
        margin-right: 120px;
    } */

    .container-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    a.header-link::after {
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
    }

    .header-logo {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.54em;
        text-transform: uppercase;
        font-family: "Raleway", sans-serif;
        /* margin-right: 76px; */
        position: relative;
        color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    .span-studio {
        color: #2e2f42;
        max-width: 71px;
    }

    .header-list {
        /* color: #404bbf;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em; */
        list-style: none;
        display: none;
    }

    .header-item {
        position: relative;
        margin-left: 0;
        margin-right: 20px;
        display: inline-block;
        /*height: 30px;*/
        color: #434455;
    }

    .open-menu-btn {
        padding: 0;
        line-height: 0;
        border-color: transparent;
        cursor: pointer;
        border: none;
    }

    /* .header-link {
        display: block;
        padding: 24px 0;
        position: relative;
        color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 17px 0;
    }

    .header-link:hover {
        color: #404bbf;
    }

    .header-link:focus {
        color: #404bbf;
    }
     */

    .header-navigation {
        display: flex;
        align-items: center;
        margin-right: auto;
    }

    address {
        margin-left: auto;
        font-style: normal;
        display: none;
    }


/* first section */
    .section-header {
        color: #ffffff;
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        background: #2e2f42;
        letter-spacing: 0.02em;
        padding-top: 72px;
        padding-bottom: 72px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
        /* max-width: 320px; */
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .button-section {
        display: inline-flex;
        border-radius: 4px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        padding: 16px 32px;
        align-items: flex-start;
        gap: 10px;
        color: #FFF;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.64px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        cursor: pointer;
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        background-color: #4d5ae5;
        margin: 0 auto;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .button-section:focus, .button-section:hover {
        background-color: #404BBF;
    }

    /* section two */

    .section-two {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .hidden {
        display: none;
        visibility: hidden;
    }

    .values-list {
        list-style: none;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 72px;
    }

    .div-svg {
        display: none;
    }

    /* .list-one {
        margin: 0 16px;
    } */

    ul {
        margin: 0;
        padding: 0;
    }

    .team-list {
        display: inline-flex;
        flex-direction: column;
        list-style: none;
        gap: 24px;
        margin: 0 20px;
    }
    

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: 1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .values-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color:#2e2f42;
        margin-bottom: 8px;
        text-align: center;
    }

    /* section three */

    .a-three {
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .a-three:hover, .a-three:focus {
        background-color: #404bbf;
    }

    /*.values-item {*/
    /*    background-color: #FFFFFF;*/
    /*    border-radius: 0 0 4px 4px;*/
    /*    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);*/
    /*}*/

    .h3-team {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }

    /*.values-item h3, .values-item p {*/
    /*    text-align: center;*/
    /*    font-size: 16px;*/
    /*}*/

    .team-header {
        color: #2E2F42;
        text-align: center;
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 700;
        text-transform: capitalize;
        line-height: 1.11;
        letter-spacing: 0.02em;
        font-size: 36px;
        margin-bottom: 72px;
    }

    .team-svg {
        fill: #f4f4fd;
    }

    .portfolio-header {
        color: #2E2F42;
        text-align: center;
        font-family: Roboto, sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        /*line-height: 40px;*/
        letter-spacing: 0.72px;
        text-transform: capitalize;
        line-height: 1.11;
        margin-bottom: 72px;
    }

    .team-workers{
        display: inline-flex;
        padding-bottom: 32px;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

    .img-four {
        max-width: 288px;
    }

    .footer {
        color: #ffffff;
        letter-spacing: 0.07em;
        background: #2e2f42;
        /* height: 664px; */
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .footer-link {
        margin-top: 30px;
        margin-left: 80px;
        display: flex;
        color: #4D5AE5;
        font-size: 18px;
        font-weight: 700;
        font-family: "Raleway", sans-serif;
        text-transform: uppercase;
        line-height: 1.17;
        margin-bottom: 18px;
    }

    .footer-div-p {
        text-align: center;
        justify-content: center;
        margin-top: 72px;
    }

   .footer-p {
       color: #F4F4FD;
       font-family: Roboto;
       font-size: 16px;
       font-style: normal;
       font-weight: 400;
       line-height: 24px;
       letter-spacing: 0.32px;
       margin-bottom: 72px;
   }

    .team-section {
        background: #F4F4FD;
        padding: 120px 0;
    }

    .team-title {
        color: #2E2F42;
        text-align: center;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
    }

    .team-paragraph {
        color: #434455;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
}

    .div-s-three {
        padding: 32px 0;
    }

    .section-four {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        gap: 24px;
        column-gap: 24px;
        row-gap: 48px;
    }

    .portfolio-item {
        flex-basis: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-item:hover {
        box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 2px 1px rgba(46, 47, 66, 0.08);
    }

    .portfolio-item:hover .p-img {
        transform: translateY(0%);
    }

    .div-pictures {
        position: relative;
        overflow: hidden;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .p-img {
        position: absolute;
        top: 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding: 40px 32px;
        background-color: #4d5ae5;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .container-li {
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
    }

    .portfolio-title {
        color: #2E2F42;
        font-family: Roboto, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
        margin-bottom: 8px;
    }

    .portfolio-paragraph {
        color: #434455;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
    }

    .span-studio-footer {
        color: #f4f4fd;
        /*display: inline-block;*/
    }

    .section_title {
        font-size: 56px;
        letter-spacing: 0.02em;
        max-width: 496px;
        margin: 0 auto 48px;
    }

    .tel {
        color: #434455;
    }

    .team-item {
        background-color: #FFFFFF;
        text-align: center;
        border-radius: 0 0 4px 4px;
        flex-basis: calc((100% - 72px) / 4);
        box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 2px 1px rgba(46, 47, 66, 0.08);
    }


    img {
        display: block;
    }

    .footer-div-p {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-bottom: 16px;
    }

    .ul-footer {
        margin-top: 16px;
        margin-left: 45px;
        margin-right: 45px;
        list-style: none;
    }

    .li-footer {
        width: 40px;
        height: 40px;
    }

    .a-footer {
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }



    .section-social-media {
        display: flex;
        /*gap: 16px;*/
        list-style: none;
        justify-content: center;
        gap: 24px;
    }

    .li-three {
        width: 40px;
        height: 40px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .a-footer:hover {
        background-color: #31d0aa;
    }

    .a-footer:focus {
        background-color: #31d0aa;
    }

    .svg-footer {
        fill: #f4f4fd;
    }

    .label-footer {
        border-radius: 4px;
        border: 1px solid var(--WHITE, #FFF);
        opacity: 0.3;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        background-color: transparent;
    }

    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        width: 300px;
        min-height: 584px;
        background: #fcfcfc;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12), 0 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 24px 24px 24px;
    }

    .button-footer {
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e7e9fc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.button-footer:hover {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.button-footer:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}


.button-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-svg:hover, .button-svg:focus {
    fill: #ffffff;
}

.p-modal {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.div-form {
    margin-bottom: 8px;
}

.div-form-comment {
    margin-bottom: 16px;
}

.div-form-privacy {
    margin-bottom: 24px;
}

.label-name {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
    margin-right: 16px;
    margin-left: 16px;
    width: 256px;
}

.div-input {
    position: relative;
}

.input-user {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 256px;
    height: 58px;
    margin: 0 16px;
    gap: 26px;
}

.input-user:focus {
    border-color: #4D5AE5;
}

.input-user:focus ~ .input-svg {
    fill: #4D5AE5;
}

.input-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2E2F42;
}

.fourth-div {
    margin-bottom: 16px;
}

.textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
    border-color: #4D5AE5;
}

.fifth-div {
    margin-bottom: 24px;
}

.label-privacy {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.span-privacy {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

/*.span-privacy:checked {*/
/*    background-color: #404bbf;*/
/*    border: none;*/
/*    fill: #F4F4FD;*/
/*}*/

.privacy-policy {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    color: #4d5ae5;
}

.button-form {
    padding: 16px 32px;
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    margin-right: 120px;
    margin-left: 95px;
}

.span-svg {
    /*background-color: #404BBF;*/
    border: none;
    fill: #F4F4FD;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

#user-privacy:checked ~ label .span-privacy {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.subscribe {
    margin-top: 72px;
    text-align: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

/* .form-subscribe {
    display: flex;
    gap: 24px;
} */

.mail-input {
    /* margin-left: 16px;
    margin-right: 16px; */
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    margin-left: 12px;
    /* flex-shrink: 0; */
    /* margin-top: -20px; */
    /*position: fixed;*/
}

.placeholder {
    color: #ffffff;
}

.button-subscribe {
    color: #FFF;
    margin-top: 16px;
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-left: 65px;
    border-radius: 4px;
    background: #4D5AE5;
    border: none;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
}

.subscribe-svg {
    margin-left: 16px;
}

.ul-footer {
    display: inline-flex;
    margin-top: 16px;
    margin-left: 32px;
    margin-right: 32px;
    list-style: none;
    gap: 20px;
    justify-content: center;
}

.modal-menu {
    width: 320px;
    height: 640px;
}

.menu-li {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.menu-li:hover {
    color: #404BBF;
}

.menu-li:visited {
    color: #404BBF;
}

li.menu-li:not(:last-child) {
    margin-bottom: 40px;
}

.address-list {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    color: #434455;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-left: 16px;
    list-style: none;
}

.address-item-mod a {
    color: #434455;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.ul-menu {
    margin-top: 72px;
    margin-bottom: 168px;
    margin-left: 16px;
    list-style: none;
}

.mailto-mod:hover {
    color: #4D5AE5;
}

.mailto-mod:visited {
    color: #4D5AE5;
}

.list-svg {
    fill: #f4f4fd;
}

.a-social {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.li-social {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-social-media {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 40px;
    margin-top: 48px;
}

.button-header {
    margin-top: 10px;
    margin-left: 272px;
    margin-right: 24px;
    border-radius: 12px;
    border: none;
}
/* 
.backdrop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
} */

.input-user {
    width: 100%;
    height: 40px;
    margin: 0;
}

.label-name {
    margin-left: 0;
}

.input-svg {
    top: 20px;
}

.button-form {
    margin: 0;
    margin-top: 22px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal {
    padding-bottom: 80px;
}


@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }

    .modal {
        width: 408px;
    }

    .backdrop-menu {
        display: none;
    }

    .header-list {
        display: flex;
        gap: 40px;
    }

    .open-menu-btn {
        display: none;
    }

    .header-logo {
        margin-right: 120px;
    }

    .header-link {
        display: block;
        padding: 24px 0;
        position: relative;
        color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 17px 0;
    }

    .header-link:hover {
        color: #404bbf;
    }

    .header-link:focus {
        color: #404bbf;
    }

    .current {
        position: relative;
        color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .current ::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        border-color: #404bbf;
        border-radius: 2px;
        height: 4px;
        width: 100%;
    }

    .address {
        list-style: none;
        display: block;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        /* gap: 12px; */
        gap: 0;
        list-style: none;
    }

    .address-item {
        position: relative;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-item a:visited {
        color: #404bbf;
    }

    .address-item a:hover {
        color: #404bbf;
    }

    .mailto {
        color: #434455;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mailto:focus {
        color: #404bbf;
    }

    .mailto:visited {
        color: #404bbf;
    }

    .section-header {
        color: #ffffff;
        text-align: center;
        font-weight: 700;
        font-size: 56px;
        background: #2e2f42;
        letter-spacing: 0.07em;
        line-height: 3,75;
        padding-top: 72px;
        padding-bottom: 72px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
        /* max-width: 768px; */
        max-width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .values-list {
        /* list-style: none; */
        /* display: flex; */
        flex-direction: row;
        /* align-items: flex-start; */
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 72px 24px;
    }

    .values-paragraph {
        color: #434455;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
    }

    .values-title {
        text-align: left;
        color: #2E2F42;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
    }

    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 72px 24px;
        margin: 0 90px;
    }

    .team-title {
        color: #2E2F42;
        text-align: center;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
    }

    .img-four {
        max-width: 356px;
    }

    .footer-link {
        margin-top: 97.5px;
        margin-left: 108px;
    }

    .footer {
        height: auto;
    }

    .footer-main {
        padding-bottom: 60px;
    }

    .footer-p {
        width: 264px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
        margin-left: 108px;
    }

    .footer-div-p {
        display: inline;
        float: left;
        margin-top: 96px;
        margin-left: 36px;
    }

    .container-footer {
        display: inline;
        float: left;
    }

    .subscribe {
        margin-right: 448px;
    }

    .form-subscribe {
        margin-left: 96px;
    }

}

@media screen and (min-width:1158px) {
    
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

    .header-logo {
        letter-spacing: 0.0338em;
        font-family: Raleway;
    }

    .backdrop-menu {
        display: none;
    }
    
    .header-link {
        gap: 40px;
    }

    .address-list {
        flex-direction: row;
        gap: 40px;
    }

    .address-list {
        margin: 0;
    }

    .address-item {
        font-size: 16px;
        line-height: 1.5;
    }

    .open-menu-btn {
        display: none;
    }

    .section-header {
        font-size: 56px;
        background: #2e2f42;
        letter-spacing: 0.07em;
        padding-top: 72px;
        padding-bottom: 72px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
        max-width: 100%;
        height: 600px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .section_title {
        margin-top: 108px;
    }

    .div-svg {
        border-radius: 4px;
        border: 1px solid #8E8F99;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        margin-bottom: 8px;
    }

    .values-title {
        color: #2E2F42;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
    }

    .list-one {
        width: calc((100% - 24px*3) / 4);
    }

    .values-list {
        display: flex;
        list-style: none;
        gap: 24px;
    }

    .team-list {
        margin: 0;
    }

    .team-title {
        margin-bottom: 8px;
    }

    .team-paragraph {
        margin-bottom: 8px;
    }

    .footer-main {
        display: flex;
        /* gap: 120px; */
    }

    .container-footer {
        display: block;
        float: none;
    }

    .footer-div-p {
        float: none;
        display: block;
        text-align: left;
    }

    .ul-footer {
        display: flex;
        gap: 16px;
        list-style: none;
        justify-content: left;
    }

    .li-footer {
        width: 40px;
        height: 40px;
    }

    .subscribe {
        margin-left: 0px;
        margin-top: 96px;
    }

    .form-subscribe {
        margin: 0;
    }

    .mail-input {
        margin-left: 0px;
    }

    .button-subscribe {
        margin-top: 0px;
        margin-left: 25px;
    }

    .input-user {
        width: 100%;
        height: 40px;
        margin: 0;
    }

    .label-name {
        margin-left: 0;
    }

    .input-svg {
        top: 20px;
    }

    .footer-link {
        margin: 0;
    }

    .footer-p {
        margin: 0;
    }

    .footer > .container {
        padding: 60px 10px;
    }

    .footer-div-p {
        margin: 0;
    }

    .subscribe {
        margin: 0;
        text-align: left;
    }

    .ul-footer {
        margin: 0;
    }

    .footer-media {
        margin-left: 120px;
    }

    .div-subscribe {
        margin-left: 80px;
    }
}